@charset "UTF-8";

*
{
	margin:0px;
	padding:0px;
}
html, body, #app
{
	width:100%;
	height:100%;
}

body {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
        sans-serif !important;
    overflow: auto;
}

.width-50 {
	width: 50%;
}

.width-100 {
	width: 100%;
}

.height-100 {
	height:100%	
}

.background-color-0D1633 {
	background-color:#0D1633
}

.background-color-324157 {
	background-color:#324157
}

.margin-top20 {
    margin-top: 20px !important;
}

.margin-left10 {
	margin-left: 10px !important;
}

.padding-top-1 {
	padding-top: 1% !important;
}

.font-color-red {
    color: #FF0000;
}

/**START***************************LOGIN *************************************START**/
.login{
	height: 100%;
	min-height: 600px; 
}  
.logo img {
	height: 80px; 
	width: 240px;
	margin-bottom: 10px;
} 
.vue-card {
	border: 0px ;
	background-color: transparent;
	color: #fff; 
}
.main-container { 
	position: relative;
	z-index: 10;
	font-family: "sans-serif","Helvetica Neue",Helvetica,"Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-weight: 300;
	margin-top: 100px;
	width: 350px;
	height: 400px;
	text-align: center;
}
.submit-button {
	font-size: 16px;
	width:150px;
	margin-top:30px;
}
.signup-footer {
	border-top: solid 1px rgba(255,255,255,.3);
	margin: 20px 10px;
	padding-top: 15px;
	text-align: center;
	color: hsla(0,0%,100%,.6);
}
.bg-overlay {
	background: radial-gradient(circle at top,#104357,rgba(0, 0, 0, 0.67));
	background-image: -webkit-radial-gradient(top center,#225F77,#232323); 
	opacity: .9;
	border-radius: 10px;
}
.vue-card  input{
	background-color: hsla(0,0%,100%,.1);
	transition: opacity .3s ease;
	color: #fff;
}
.vue-card  label{ 
	color: #fff;
}
.vue-card  a{ 
	color: #21AF8F;
}

@media screen and (max-width: 768px) {
	.main-container {
		margin-top: 20px
	}
}
/**END***************************LOGIN *************************************END**/

/**START*************************HOMEPAGE *************************************END**/
.menu-bar {
    height: 80px;
    background-color: #324157;
    color: white
}

.menu-bar .menu-title  {
	font-size: 24px;
	font-weight: bold;
	
}

 .vue-menu-item[customFontSize="24"] {
	height: 56px;
	line-height: 56px;
	font-size: 24px;
	padding: 0 20px;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
}

.img-content {
	width:1340px;
	height:528px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.img-content img{
	width:100%;
	height:auto;
}

/**END***************************HOMEPAGE *************************************END**/


/**START***************************GLOBALTRADE********************************START**/
.first-class-title {
	height: 8vh;
	font-family: '微软雅黑 Bold', '微软雅黑';
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	color: #FFFFFF;
	text-align: center;
}

.second-class-title {
	height: 36px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFFFFF;
	line-height: 36px;
}

.time-filter-text {
	height: 36px;
	width: 80px;
	text-align: right;
	display: inline-block;
}

.time-filter-item {
	width: 12%;
	width: 120px;
	display: inline-block;
}

.detail-area {
	height: calc(92% - 45px);
}

.data-panel-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.data-panel {
	flex: 1;
	overflow: hidden !important;
	margin: 5px;
	background-color:#1A2960;
	border: 1px solid;
	overflow: auto;
}

.data-panel .vue-table__body-wrapper,
.data-panel .vue-table__cell,
.vue-table {
	background-color: #0d1633;
	color: #ffffff !important;
	border: 0;
}

.vue-table__column {
	background-color: #15214e !important;
	color: #ffffff !important;
}

.map-panel {
	height: calc(100% - 10px);
	margin: 5px;
	background-color:#1A2960;
	border: 1px solid;
}

.map-frame {
	margin: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.chart-frame {
	border: 0;
	width: 100%;
	height: calc(100% - 35px);
}

.table-headers {
	height: 35px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
}



/**END***************************GLOBALTRADE********************************END**/

::-webkit-scrollbar {
	width: 10px;
	height: 10px
}

::-webkit-scrollbar-thumb {
	background: #1d75bd
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-track {
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,
	.2)
}

::-webkit-scrollbar-track {
	background: #1441b8
}

::-webkit-scrollbar-corner {
	background: #82afff
}